<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Androoni</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <style>
      #mainnav {
        background-color: darkslategray;
        color: whitesmoke !important;
      }

      .navbar-nav li {
        color: whitesmoke;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto display:block display:flex (d-flex)">
          <div class="card mb-3">
            <h5
              class="card-title"
              style="
                text-align: center;
                margin-top: 0.5rem;
                font-style: italic;
              "
            >
              Lorem ipsum dolor adipisicing elit
            </h5>
            <img
              src="https://p0.pxfuel.com/preview/304/131/640/beverage-blog-blogger-browsing-royalty-free-thumbnail.jpg"
              class="card-img-top"
              alt="..."
              style="height: 350px;"
            />
            <div class="card-body" id="card">
              <h5 class="card-title" style="text-align: center;">Card title</h5>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Nesciunt voluptate rerum ea minus quia ipsum vel dolorum
                provident ad quibusdam. Tempora placeat a beatae officia. Libero
                a iste quis, provident sunt recusandae amet accusamus, nemo
                assumenda natus vero repudiandae eaque ipsa. Illo magni rem quas
                aliquam labore at numquam corrupti? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Enim corrupti culpa ad recusandae
                consequuntur quae ab deserunt quam labore sed suscipit mollitia
                modi at corporis ipsam aspernatur eum, maiores non optio!
                <br />
                <br />
                Necessitatibus debitis maiores suscipit illum eveniet tempora
                omnis accusantium. Odio aperiam cumque incidunt dicta, atque
                dignissimos perspiciatis minima corrupti? Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. Aspernatur atque delectus
                eveniet ratione voluptatibus! Asperiores ut non officiis ullam
                libero, rem est rerum impedit ipsum veniam sed sunt,
                reprehenderit accusamus sapiente, voluptates minus quia placeat
                <br />
                <br />
                recusandae ipsa. Et, dignissimos id accusantium, sapiente
                reiciendis porro atque accusamus nemo obcaecati eos repellendus!
              </p>
              <div class="form-group float-right">
                <button class="btn btn-danger" type="submit">Delete</button>
              </div>
              <div class="form-group float-right" style="padding-right: 2rem;">
                <button class="btn btn-primary" type="submit">Publish</button>
              </div>
              <div class="form-group float-right" style="padding-right: 2rem;">
                <button class="btn btn-primary" type="submit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
